@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  background: black; /* Ensure background is transparent */
  min-height: 100vh;

}

#root {
  width: 100%;
  height: 100%;
}

/* body {

  color: rgb(var(--foreground-rgb));


/* } */ */

body{

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
